@import '@styles/scss/variables', '@styles/scss/mixins';

.container {
  font-size: 1.15rem;

  @include respond-below(sm) {
    padding-top: $padding-base * .5;
    padding-bottom: $padding-base * .5;
  }
}

.price {
  margin-top: $margin-base;
  font-weight: bold;
  color: text-color('info');
  position: relative;
}

.withDiscount {
  color: text-color('secondary');

  &::before {
    top: 50%;
    content: '';
    width: 100%;
    height: .15rem;
    position: absolute;
    background: theme-color('secondary');
  }
}

.bestPrice {
  @extend .price;
}
