@import 'styles/scss/mixins', 'styles/scss/variables';

.container {
  text-align: center;

  margin-top: $margin-base * 4;

  @include respond-below(sm) {
    margin-top: $margin-base * 3;

    padding-right: $padding-base;
    padding-left: $padding-base;
  }

  h2 {
    text-transform: capitalize;
  }
}
