@import 'styles/scss/variables', 'styles/scss/mixins';

.service {
  text-align: center;

  @include respond-below(sm) {
    margin-top: $margin-base;
    padding-top: $padding-base;
  }

  h3 {
    letter-spacing: 1px;
    font-size: $font-size-base * 1.35;

    @include respond-above(sm) {
      min-height: 4rem;
    }
  }

  p {
    text-align: left;
  }

}

.serviceButtons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;

  @include respond-below(sm) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  a {
    width: 72%;
    margin-bottom: $margin-base * .625;

    @include respond-below(lg) {
      width: 50%
    }
    @include respond-below(sm) {
      width: 42%;
    }
  }
}