@import 'styles/scss/mixins', 'styles/scss/variables', 'styles/scss/functions';

.navLinkText {
  font-weight: 600;
  transition: 0.5s all;
  text-transform: uppercase;
  font-size: $font-size-base * .95;
  color: text-color('dark') !important;

  @include respond-above(lg) {
    padding: $padding-base * 1.625 $padding-base * 1.25;
  }

  &:hover, &:focus {
    transition: 0.5s all;
    color: text-color('dark');
    background: hover('main-menu-item');
  }

  &.show, &.active {
    color: text-color('dark');
    background: hover('main-menu-item');
  }
}

.navLinkIcon {
  &:hover {
    color: #fff;
    //transform: translateX(0px) rotate(180deg);
  }
}
