@import 'styles/scss/mixins', 'styles/scss/variables', 'styles/scss/functions';

.linkTree {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  background: theme-color('gray');

  :global {
    .link-tree-menu {
      &.nav {
        flex-direction: column;
      }

      .nav-link {
        font-weight: 600;
        text-decoration: none;
        color: text-color('dark');
        font-family: $font-family-open-sans;

        &:hover {
          border-radius: 3px;
          color: text-color('white');
          text-shadow: 1px 1px theme-color('secondary');
          background: theme-color("primary-transparent");
        }
      }

      .nav-item {
        margin: .5rem 0;
        text-align: left;
        position: relative;
        border-radius: 3px;
        background: text-color('white');

        &-text {
          top: 50%;
          left: 50%;
          position: absolute;
          font-size: $font-size-base * 1.1;
          transform: translateY(-50%) translateX(-50%);
        }

        img {
          width: 36px !important;
        }
      }
    }
  }
}

.logo {
  display: block;
  margin-top: -30%;
  text-align: center;
  padding-bottom: 2rem;
}