@import 'src/styles/scss/mixins', 'src/styles/scss/variables', 'src/styles/scss/functions';

.sticky {
  z-index: 3;
  right: 5%;
  bottom: 10%;
  position: fixed;

  > button {
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: text-color('white');
    font-size: $font-size-base * .95;
    box-shadow: 1px 1px 1px #343a4040;
    background: theme-color('primary');
    padding: $padding-base * .375 $padding-base * .313 $padding-base * .313;

    &::before {
      display: none !important;
    }

    &:hover, &:active, &:visited, &:focus {
      border: none;
      color: theme-color('white');
      box-shadow: none !important;
      font-size: $font-size-base * .95;
      background: theme-color('primary');
      padding: ($font-size-base * .375) ($font-size-base * .313) ($font-size-base * .313);
    }

    span {
      display: none;
    };

    svg {
      height: 3em;
      width: 3em !important;
    }
  }
}

.languageMenu {
  border: none;
  background-color: theme-color('primary-transparent');
  transform: none !important;
  right: 110% !important;

  button {
    color: text-color('white');
    text-shadow: 1px 1px 2px text-color('dark');

    &:active, &:hover, &:visited, &:focus {
      border: none;
      text-shadow: none;
      text-decoration: none;
      color: text-color('dark');
      background-color: theme-color('white-transparent');
    }

    svg {
      padding-right: $padding-base;
    }
  }
}