@import '@styles/scss/variables', '@styles/scss/functions', '@styles/scss/mixins';

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  position: fixed;
  background-color: theme-color('primary-transparent');

  :global {
    .brand {
      &-desktop {
        display: block;
        @include respond-below(md) {
          display: none;
        }
      }
      &-mobile {
        max-width: 200px;
        @include respond-above(md) {
          display: none;
        }
      }
    }

    .navbar {
      justify-content: center;

      &-collapse {
        max-width: 1320px;
        justify-content: space-between;
      }
    }

    .menu {
      &-main {
        .nav {
          &-item {
            padding-left: $padding-base * .5;
            padding-right: $padding-base * .5;

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
      &-social {
        @include respond-below(sm) {
          flex-direction: row;
          justify-content: center;
        }
        .nav {
          &-item-text {
            display: none;
          }
          &-link {
            @include respond-below(sm) {
              margin: 0 $margin-base;
            }
            img {
              width: 32px !important;
            }
          }
        }
      }
    }
  }
}