@import 'src/styles/scss/variables', 'src/styles/scss/functions', 'src/styles/scss/mixins';

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  position: fixed;
  background-color: theme-color('primary-transparent');

  :global {
    .brand {
      &-desktop {
        top: 50%;
        left: 50%;
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);

        @include respond-below(lg) {
          display: none;
        }
      }
      &-mobile {
        max-width: 200px;
        padding-top: .5rem;

        @include respond-above(lg) {
          display: none;
        }
      }
    }

    .navbar {
      justify-content: center;

      @include respond-below(lg) {
        padding-top: 0;
        padding-bottom: 0;
        justify-content: space-between;
      }

      &-collapse {
        max-width: 1320px;
        position: relative;
        justify-content: space-between;
      }
    }

    .menu {
      &-main {
        .nav {
          &-item {
            padding-left: $padding-base * .5;
            padding-right: $padding-base * .5;
          }

          &-link {
            &--active {
              position: relative;
              &:after {
                left: 50%;
                bottom: 12%;
                transform: translateX(-50%);
                width: 16px;
                height: 16px;
                content: '';
                position: absolute;
                background: url("../../styles/images/icons/loto-flower.png");


                @include respond-below(lg) {
                  left: inherit;
                  bottom: inherit;
                  right: 20%;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
      &-social {
        @include respond-below(lg) {
          flex-direction: row;
          justify-content: center;
        }

        .nav {
          &-item-text {
            display: none;
          }
          &-link {
            @include respond-below(lg) {
              margin: 0 $margin-base;
            }
            img {
              width: 32px !important;
            }
          }
        }
      }
    }
  }
}