@import '../../../styles/scss/mixins', '../../../styles/scss/variables';

.container {
  margin-top: $margin-base * 4;
  margin-bottom: $margin-base * 4;

  @include respond-below(sm) {
    margin-top: $margin-base * 3;
    margin-bottom: $margin-base * 3;

    padding-right: $padding-base;
    padding-left: $padding-base;
  }
}
