@import '../../../../styles/scss/variables', '../../../../styles/scss/mixins';

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond-below(sm) {
    margin-top: $margin-base;
    padding-top: $padding-base;
  }

  @include respond-above(sm) {
    margin-top: $margin-base * 2;
  }

  p {
    text-align: left;
  }
}

.description {
  h3 {
    text-align: center;
    margin: 1.5rem auto;
    letter-spacing: 1px;
    color: text-color('dark');
    text-transform: capitalize;
    font-size: $font-size-base * 1.35;
    min-height: $font-size-base * 2.5;

    @include respond-between(md, xl) {
      margin: 1rem auto;
      min-height: 3.5rem;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: $margin-base * 0.5;

  @include respond-below(sm) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  a {
    width: 80%;
    margin-top: $margin-base;
    margin-bottom: $margin-base * 0.625;

    @include respond-below(lg) {
      width: 50%;
    }
    @include respond-below(sm) {
      width: 45%;
    }

    &:last-child {
      display: none;
    }
  }
}
