@import 'styles/scss/mixins', 'styles/scss/variables', 'styles/scss/functions';

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: $font-family-open-sans !important;

  #app {
    overflow-x: hidden;
  }

  a {
    transition: 0.5s all;
    text-decoration: none;

    &:hover {
      transition: 0.5s all;
      text-decoration: none;
    }

    &:focus,
    &:hover {
      outline: none;
      text-decoration: none;
    }
  }

  input {
    [type='button'],
    [type='submit'] {
      transition: 0.5s all;
    }
  }

  label {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    font-family: $font-family-paytone-one;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.title {
      color: $primary;
      font-size: 42px;
      letter-spacing: 3px;
      font-family: $font-family-montez;
    }
  }

  p {
    margin: 0;
    padding: 0;
    color: #999;
    font-size: 15px;
    line-height: 1.9;
    letter-spacing: 1px;
    font-family: $font-family-open-sans;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
  }

  header {
    .brand {
      @include respond-below(sm) {
        max-width: 200px;
      }
    }

    .main-menu {
      .nav-item {
        padding-left: $padding-base / 2;
        padding-right: $padding-base / 2;
      }
    }

    .social-menu {
      @include respond-below(sm) {
        flex-direction: row;
        justify-content: center;
      }

      .nav-link {
        @include respond-below(sm) {
          margin: 0 $margin-base * 0.7;
        }
        img {
          width: 32px;
        }
      }
    }
  }

  footer {
    .social-menu {
      justify-content: center;

      .nav-link {
        display: block;
        border-radius: 50%;
        text-align: center;
        margin: 0 $margin-base * 0.7;
        padding: $padding-base * 0.2 !important;
        border: dashed 2px theme-color('secondary');

        img {
          width: 35px;
        }
      }
    }
  }
}
