@import 'styles/scss/mixins', 'styles/scss/variables', 'styles/scss/functions';

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: $font-family-open-sans !important;

  #app {
    overflow-x: hidden;
  }

  a {
    transition: 0.5s all;
    text-decoration: none;

    &:hover {
      transition: 0.5s all;
      text-decoration: none;
    }

    &:focus,
    &:hover {
      outline: none;
      text-decoration: none;
    }
  }

  input {
    [type='button'],
    [type='submit'] {
      transition: 0.5s all;
    }
  }

  label {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    font-family: $font-family-paytone-one;

    &.title {
      color: $primary;
      font-size: 42px;
      font-weight: bold;
      letter-spacing: 3px;
      font-family: $font-family-montez;

      @include respond-below(sm) {
        font-size: $font-size-base * 2;
      }
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.9;
    letter-spacing: 1px;
    color: text-color('gray-light');
    font-family: $font-family-open-sans;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
  }
}
