@import 'src/styles/scss/mixins', 'src/styles/scss/variables';

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1920px;
}

.item {
  position: relative !important;
  min-height: 31rem;
  max-height: 31rem;

  @include respond-between(sm, md) {
    min-height: 31rem;
    max-height: 31rem;
  }

  @include respond-between(lg, xl) {
    min-height: 35rem;
    max-height: 35rem;
  }

  @include respond-between(xl, xxl) {
    min-height: 39rem;
    max-height: 39rem;
  }

  @include respond-above(xxl) {
    min-height: 48rem;
    max-height: 48rem;
  }

}

.caption {
  left: 0;
  bottom: 15%;
  right: inherit;
  text-align: left;
  padding: 1rem 2rem 1rem 2rem;

  @include respond-below(sm) {
    bottom: 10%;
    background: none;
    text-align: center;
    backdrop-filter: none;
  }

  @include respond-above(xxl) {
    left: 15%;
    bottom: 25%;
  }

  h1 {
    font-weight: 500;
    text-align: left;
    font-size: $font-size-base * 4.3;
    color: text-color('primary-light');
    font-family: $font-family-paytone-one;

    @include respond-below(sm) {
      font-size: $font-size-base * 2;
    }

    @include respond-between(sm, lg) {
      font-size: $font-size-base * 3;
    }
  }

  h2 {
    color: $dark-light;
    letter-spacing: 1px;
    padding-top: $padding-base * 2;
    font-size: $font-size-base * 2.5;
    font-family: $font-family-paytone-one;
    text-shadow: 1px 0 4px text-color('white');

    @include respond-below(sm) {
      padding-top: $padding-base;
      font-size: $font-size-base * 1.2;
    }

    @include respond-between(sm, lg) {
      font-size: $font-size-base * 1.6;
    }
  }
}
